@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: hsl(228, 12%, 92%);
    display: flexbox;
    flex-direction: row;
    
}

.main {
    display: flex;
    flex-direction: row;
}


.imagem {

}

.titulo {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
}

.nome {
    font-family: "Fraunces", serif;
    font-weight: 700;
    color: hsl(212,21%, 14%);
}

.paragrafo {
    font-family: "Montserrat", sans-serif;
    color: hsl(228, 12%, 48%);
    font-size: 14px;
}

.preco {
    display: flex;
    flex-direction: row;
 
    
}

.preco-desconto {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
}