$primary-dark: #040f1a;
$primary-normal: #06121e;
$primary-light: #0c2135;

 $secundary-dark: #06090c;
 $secundary-normal: #090d11;
 $secundary-light: #1a1f25;

 $black-dark: #161617;
 $black-normal: #232224;
 $black-light: #353436;

 $white-dark: #edeaef;
 $white-normal: #FFF;
 $white-light: #fefbff;

 $red-dark: #b42b2b;
 $red-normal: #d94140;
 $red-light: #d34040;

 